@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-orange-500;
  }
}

@layer utilities {
  .text-bigger-hello {
    @apply text-3xl font-semibold;
  }
}

@layer components {
  .primary-btn {
    @apply bg-[#2c3e50] text-white relative overflow-hidden;
    background: linear-gradient(110deg, #2f5984 0%,#307b71 50%,#22579c 100%);
  }
  
  .primary-btn::after {
    @apply absolute inset-0 w-full transform transition-transform duration-500 ease-out;
    content: '';
    background: linear-gradient(to right, #282478 0%, #2f5984 100% );
    transform: translateX(-100%);
  }
  
  .primary-btn:hover::after {
    transform: translateX(0);
  }
  
  .primary-btn span {
    @apply relative z-10 transition-colors duration-300;
  }
}